.auth-footer {
  position: fixed;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: #424242;
  display: flex;
  justify-content: space-evenly;
  font-family: Platypi,serif;
}

.footer-text-intro {
  font-size: 28px;
  font-weight: 600;
}

.footer-item {
  display: flex;
  align-items: center;
  color: white;
}

.footer-phone {
  font-size: 26px;
  letter-spacing: 3px;
  font-weight: 600;
}
